/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2019, 12:05:33 AM
    Author     : ROBERT TORRES
*/
header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

#add {
    position: fixed;
    top: 87%;
    right: 4%;
    z-index: 10;
    background: none;
    border: none;
}

#add img {
    width: 65px;
}

hr{
    background: rgb(120, 0, 145);
}
html {
    scroll-behavior: smooth;
}